@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.ink);
  --foreground: theme(colors.gesso);
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
